<!--main.handlebars for the user interface -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>Burger App</title>
</head>
<body>
    <h1>Eat-Da-Burger!</h1>
    <!--insert index.handlebars in the body tag -->
    {{{ body }}}
</body>
</html>


<script>

    document.getElementById("form-div").addEventListener("submit", (event) => {
        event.preventDefault();

        // Creating a new burger object with user input
        const addBurger = {
            burger_name: document.getElementById("burger-input").value.trim(),
        };
        // POST request to the server side and then reload the page when there is a response
        fetch(`/api/burgers`, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(addBurger),
        }).then((response) => {
            if (response.ok) location.reload();
        });
    });

    // patch request for the served food
    document.querySelectorAll(".devourBTN").forEach((button) => {
        button.addEventListener("click", function (event) {
            event.preventDefault();

            // Setting Variables for data attributes
            const id = this.getAttribute("data-id");
            const devoured = this.getAttribute("data-devoured");
            // Making a patch request to update the burger to become eaten
            // Reload the page when there is a response
            fetch(`/api/burgers/${id}`, {
                method: "PUT",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ devoured: devoured }),
            }).then((response) => {
                if (response.ok) location.reload();
            });
        });
    });



</script>

</html>