<!-- index.handlebars for the user interface-->
<main class= "container">
	<div class="container">
		<div class="row justify-content-center m-2 mr-5">
			<div class="col-4">
				<img class="burgerPic" src="assets/img/burgerimg.jpg" alt="Deconstructued Burger being held by chef">
			</div>
		</div>
	</div>

	<!-- burgers not eaten list-->
	<div class="row mt-2 justify-content-center">
		<div class="col-6 unEatenList m-2">
			<h3>Burgers ready to eat</h3>
      <hr>
			<ol class="numbertxt">
				<!-- For each burger which devoured is not true create a list item with the burger name and devour button-->
				{{#each burgers}}
				{{#unless devoured}}
				<div class="row">
					<li class="col-7 burgerItem ">
						<p class="burger-text">{{burger_name}}</p>
					</li>
					<div class=" col-3 button-div">
						<button class="devourBTN" data-id="{{id}}" data-devoured="{{devoured}}">Devour it!</button>
					</div>
				</div>
				{{/unless}}
				{{/each}}
			</ol>
		</div>



        <!-- burgers already eaten list-->
        <div class="col-5 eatenList m-2">
            <h3>Burgers already eaten</h3>
            <hr>
            <ul class="eatenburger">
                <!-- For each burger which devoured is true create a list item with the burger name -->
                {{#each burgers}}
                {{#if devoured}}
                <div class="row">
                    <li class="col-7">
                        <p class="burger-text">{{burger_name}}</p>
                    </li>
                </div>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <!-- input box-->
    <div class="row justify-content-center" id="form-div">
        {{!-- Form to submit a burger with an input and a button --}}
        <form id="new-burger-form">
            <input id="burger-input" type="text" name="name" placeholder="Create a burger">
            <button class="burger-submit" id="new-burger-button" type="submit">Create</button>
        </form>
    </div>
</main>



