
.burgerPic{
max-width: 400px;
max-height: 400px;
margin-right: 10px;
} 

body{
    background-color: rgb(236, 192, 97);
}
h1{
    text-align: center;
    background-color: rgb(241, 141, 82);
    color: white;
}
h3{
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 50px;
}
.devourBTN {
    background-color: rgb(169, 236, 169); 
    font-weight:thick ;
    
}
.button-div :hover{
    background-color: rgb(27, 77, 5);
    color: whitesmoke;
    
}
hr{
    border-bottom: solid;
  border-width: thin;
}
.eatenburger{
    text-align: center;
    opacity: 0.45;
  }

.burger-text{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
.numbertxt{
    font-weight: bold;
}
